<header>
    <div class="container-grid cabecalho">
         <a href="index.html"><img class="logo" src="assets/img/logo_size-removebg-preview.png" alt="Logo do site GameMania"></a>
         <nav id="menu" class="menu">
             <a href="index.html">Todos os departamentos
                 <img src="assets/img/Group.svg" class="ponteiro-1">
             </a>
             <a href="index.html">Pc gamer
                 <img src="assets/img/Group.svg" class="ponteiro-2">
             </a>
             <a href="index.html">Eletrônicos
                 <img src="assets/img/Group.svg" class="ponteiro-3">
             </a>
             <a href="index.html">Jogos
                 <img src="assets/img/Group.svg" class="ponteiro-4">
             </a>
         </nav>
         <form class="busca">
             <input type="search" id="texto" onclick="barraBusca()" placeholder="Digite sua busca aqui" required>
             <a href="index.html"><img src="assets/img/lupa.svg" class="btn"></a>
         </form>
         <a routerLink="/login" class="Saiba-mais">Iniciar sessão</a>
         <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/menuHamburguer.svg" alt="Ícone do menu de barras"></a>
    </div>
    <div class="container-grid cabecalho-2">
         <nav id="menu-lupa" class="menu-lupa">
             <a href="index.html">Todos os departamentos                    
                 <img src="assets/img/Group.svg" class="ponteiro-1">
             </a>
             <a href="index.html">Pc gamer
                 <img src="assets/img/Group.svg" class="ponteiro-2">
             </a>
             <a href="index.html">Eletrônicos
                 <img src="assets/img/Group.svg" class="ponteiro-3">
             </a>
             <a href="index.html">Jogos
                 <img src="assets/img/Group.svg" class="ponteiro-4">
             </a>
         </nav>
         <a href="#" id="barras" onclick="mostrarMenu_2()"><img id ="icone-menu" class="icone-menu" src="assets/img/menuHamburguer.svg" alt="Ícone do menu de barras"></a>
         <a href="index.html"><img src="assets/img/lupa_2.svg" class="btn"></a>
         <a href="index.html"><img class="logo" src="assets/img/logo_size-removebg-preview.png" alt="Logo do site GameMania"></a>
         <a routerLink="/login" class="Saiba-mais">Iniciar sessão</a>  
     </div>      
</header>
