<main>
     <section id ="carrossel" class="banner banner_1">
         <div class="container-grid posicionamento-banner">
             <div class="conteudo-banner">
                 <h1>Alcançe o próximo nível</h1>
                 <h1>com a nossa</h1>
                 <h1>linha de pc gamer</h1>
                 <a href="index.html">Saiba mais</a>
             </div>
             <div class="conteudo-banner-2">
                 <h1>Alcançe o próximo nível com a nossa</h1>
                 <h1>linha de pc gamer</h1>
                 <a href="index.html">Saiba mais</a>
             </div>
         </div>
     </section>
     <section class="eletronicos">
         <div class="ofertas"><h2 class="container-grid texto-ofertas">Ofertas de eletrônicos em destaque</h2></div>
         <div class="cor-conteudo-ofertas">
             <div class="container-grid conteudo-ofertas">
                 <div class="container-grid eletronicos-produto-1">
                     <a href="index.html"><img src="assets/img/img-1.png" alt="Notebook gamer acer nitro 5"></a>
                     <a href="index.html"><p class="descriçao">Notebook Gamer Acer Nitro 5 AN517-52-75WH Intel Core i7 Windows 10 Home 8GB 512GB SSD GTX 1650 17.3'</p></a>
                     <a href="index.html"><p class="eletronicos-preço-1">R$ 8.599,00</p></a>
                     <a href="index.html"><p class="eletronicos-preço-2">R$ 6.699,00 em até 12x de R$ 558,25 sem juros</p></a>
                 </div>
                 <div class="container-grid eletronicos-produto-2">
                     <a href="index.html"><img src="assets/img/img-2.png" alt="Smartphone Samsung Galaxy S21 Ultra"></a>
                     <a href="index.html"><p class="descriçao">Smartphone Samsung Galaxy S21 Ultra 256GB 5G Wi-Fi Tela 6.8'' Dual Chip 12GB RAM Câmera Quádrupla + Selfie 40MP - Preto</p></a>
                     <a href="index.html"><p class="eletronicos-preço-3">R$ 5.399,00</p></a>
                     <a href="index.html"><p class="eletronicos-preço-4">R$ 4.899,00 em até 12x de R$ 408,25 sem juros</p></a>
                 </div>
                 <div class="container-grid eletronicos-produto-3">
                     <a href="index.html"><img src="assets/img/img-3.png" alt="Console PlayStation 4"></a>
                     <a href="index.html"><p class="descriçao">Console PlayStation 4 Mega Pack V18, 1TB, Ghost of Tsushima + God of War + Ratchet & Clank</p></a>
                     <a href="index.html"><p class="eletronicos-preço-5">R$ 3.200,00</p></a>
                     <a href="index.html"><p class="eletronicos-preço-6">R$ 2.899,00 em até 12x de R$ 241,58 sem juros</p></a>
                 </div>
                 <div class="container-grid eletronicos-produto-4">
                     <a href="index.html"><img src="assets/img/img-4.png" alt="Notebook Gamer Lenovo Gaming 3i"></a>
                     <a href="index.html"><p class="descriçao">Notebook Gamer Lenovo Gaming 3i Intel Core i5-10300H, GTX 1650 4GB, 8GB RAM, 256GB SSD, Linux, 15.6´ Widescreen, Chameleon Blu</p></a>
                     <a href="index.html"><p class="eletronicos-preço-7">R$ 6.315,68</p></a>
                     <a href="index.html"><p class="eletronicos-preço-8">R$ 5.999,90 em até 12x de R$ 499,91 sem juros</p></a>
                 </div>
                 <div class="container-grid eletronicos-produto-5">
                     <a href="index.html"><img src="assets/img/img-5.png" alt="iPhone 13 Pro"></a>
                     <a href="index.html"><p class="descriçao">iPhone 13 Pro 128GB Grafite, Tela de 6.1, Câmera Tripla 12MP</p></a>
                     <a href="index.html"><p class="eletronicos-preço-9">R$ 9.440,00</p></a>
                     <a href="index.html"><p class="eletronicos-preço-10">R$ 8.946,32 em até 12x de R$ 745,52 sem juros</p></a>
                </div>
             </div>   
         </div>
     </section>
     <section class="banner-2">
         <div class="posicionamento-banner-2">
             <h1>Os melhores descontos em jogos você encontra aqui</h1>
             <a href="index.html">Saiba mais</a>
         </div>
         <div class="posicionamento-banner-3">
             <h1 class="pos-1">Os melhores descontos em jogos</h1>
             <h1>você encontra aqui</h1>
             <a href="index.html">Saiba mais</a>
         </div>
     </section>
     <section class="hardware">
         <div class="ofertas"><h2 class="container-grid texto-ofertas">Ofertas de hardware em destaque</h2></div>
         <div class="cor-conteudo-ofertas">
             <div class="container-grid conteudo-ofertas">
                 <div class="container-grid hardware-produto-1">
                     <a href="index.html"><img src="assets/img/img-6.png" alt="Processador AMD Ryzen 9 5950X"></a>
                     <a href="index.html"><p class="descriçao">Processador AMD Ryzen 9 5950X, Cache 72MB, 3.4GHz (4.9GHz Max Turbo)</p></a>
                     <a href="index.html"><p class="hardware-preço-1">R$ 7.764,59</p></a>
                     <a href="index.html"><p class="hardware-preço-2">R$ 5.541,06 em até 12x de R$ 461,75 sem juros</p></a>
                 </div>
                 <div class="container-grid hardware-produto-2">
                     <a href="index.html"><img src="assets/img/img-7.png" alt="Placa-Mãe MSI B450M Pro-M2"></a>
                     <a href="index.html"><p class="descriçao">Placa-Mãe MSI B450M Pro-M2 Max p/ AMD AM4, m-ATX, DDR4</p></a>
                     <a href="index.html"><p class="hardware-preço-3">R$ 494,00</p></a>
                     <a href="index.html"><p class="hardware-preço-4">R$ 420,00 em até 12x de R$ 35,00 sem juros</p></a>
                 </div>
                 <div class="container-grid hardware-produto-3">
                     <a href="index.html"><img src="assets/img/img-8.png" alt="SSD Gigabyte 240GB"></a>
                     <a href="index.html"><p class="descriçao">SSD Gigabyte 240GB, SATA, Leitura 500MB/s, Gravação 420MB/s</p></a>
                     <a href="index.html"><p class="hardware-preço-5">R$ 305,76</p></a>
                     <a href="index.html"><p class="hardware-preço-6">R$ 255,00 em até 12x de R$ 21,25 sem juros</p></a>
                 </div>
                 <div class="container-grid hardware-produto-4">
                     <a href="index.html"><img src="assets/img/img-9.png" alt="Placa de Vídeo Zotac GEFORCE RTX 3080 Ti"></a>
                     <a href="index.html"><p class="descriçao">Placa de Vídeo Zotac GEFORCE RTX 3080 Ti TRINITY LHR, 19Gbps, 12GB GDDR6X, com RGB, Ray Tracing, DLSS e IceStorm 2.0</p></a>
                     <a href="index.html"><p class="hardware-preço-7">R$ 16.823,41</p></a>
                     <a href="index.html"><p class="hardware-preço-8">R$ 13.200,00 em até 12x de R$ 1.100,00 sem juros</p></a>
                 </div>
                 <div class="container-grid hardware-produto-5">
                     <a href="index.html"><img src="assets/img/img-10.png" alt="Placa de Vídeo ZOTAC GAMING GeForce RTX 3060"></a>
                     <a href="index.html"><p class="descriçao">Placa de Vídeo ZOTAC GAMING GeForce RTX 3060 Twin Edge - 15 Gbps, 12GB, GDDR6, Ray Tracing</p></a>
                     <a href="index.html"><p class="hardware-preço-9">R$ 5.882,24</p></a>
                     <a href="index.html"><p class="hardware-preço-10">R$ 4.800,00 em até 12x de R$ 400,00 sem juros</p></a>
                 </div>  
             </div>
         </div>
     </section>
</main>

