<footer>
    <section class="final">
        <div class="container-grid posicionamento-departamentos-eletronicos">
             <div class="departamentos">
                 <h2>Departamentos</h2>
                 <a href="index.html" target="_blank"><p>Hardware</p></a>
                 <a href="index.html" target="_blank"><p>Smartphones</p></a>
                 <a href="index.html" target="_blank"><p>Periféricos</p></a>
                 <a href="index.html" target="_blank"><p>Computadores</p></a>
                 <a href="index.html" target="_blank"><p>Placa de Vídeo</p></a>
                 <a href="index.html" target="_blank"><p>Monitores</p></a>
                 <a href="index.html" target="_blank"><p>Consoles e Games</p></a>
                 <a href="index.html" target="_blank"><p>Áudio</p></a>
                 <a href="index.html" target="_blank"><p>Notebook</p></a>
                 <a href="index.html" target="_blank"><p>Processadores</p></a>
             </div>
             <div class="institucional">
                 <h2>Institucional</h2>
                 <a href="index.html" target="_blank"><p>Sobre a Game Mania</p></a>
                 <a href="index.html" target="_blank"><p>Políticas de Privacidade</p></a>
                 <a href="index.html" target="_blank"><p>Trabalhe Conosco</p></a>
                 <h2>FAQ</h2>
                 <a href="index.html" target="_blank"><p>FAQ - Orientações</p></a>
                 <h2>Minha Conta</h2>
                 <a href="index.html" target="_blank"><p>Meus pedidos</p></a>
                 <h2>Compra Segura</h2>
                 <a href="index.html" target="_blank"><p>Garantia Estendida e Roubo + Quebra Acidental</p></a>
             </div>
             <div class="pagamento">
                 <h2>Pagamento</h2>
                 <div class="cartoes">
                     <img src="assets/img/mastercard.svg" alt="Cartão mastercard">
                     <img src="assets/img/elo.svg" alt="Cartão mastercard">
                     <img src="assets/img/paypal.svg" alt="Cartão mastercard">
                     <img src="assets/img/visa.svg" alt="Cartão mastercard">
                     <img src="assets/img/boleto.svg" alt="Cartão mastercard">
                     <img src="assets/img/pix.svg" alt="Cartão mastercard">
                 </div>
                 <h2>Mídias Sociais</h2>
                 <div class="midias-sociais">
                     <a href="index.html" target="_blank"><img src="assets/img/youtube.png" alt="Youtube" class="youtube"></a>
                     <a href="index.html" target="_blank"><img src="assets/img/twitter.png" alt="Twitter" class="twitter"></a>
                     <a href="index.html" target="_blank"><img src="assets/img/facebook.png" alt="Facebook" class="facebook"></a>
                     <a href="index.html" target="_blank"><img src="assets/img/instagram.png" alt="Instagram" class="instagram"></a>
                 </div>
             </div>
             <div class=" atendimento">
                 <h2>Atendimento</h2>
                 <p>Horário de atendimento:
                     08:00 às 20:00 -
                     Segunda a Sábado,
                     horário de Brasília
                     (exceto domingo e feriados)</p>
                 <p>Endereço:
                     Rua Yolanda Monteiro Pereira, 122 -
                     Jardim Santa Maria
                     Sertãozinho/SP - CEP: 14165-206</p>
              </div>
        </div>
    </section>
</footer>
